<div class="container mb-5">
  <div class="text-center">
    <a [routerLink]="['/add_business', hood.id]" class="btn btn-success m-2 ">
      Add business</a
    >
  </div>
  <div class="row">
    <div class="col-md-6 mt-3 mb-3" *ngFor="let business of businesses">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <p class="card-title text-center text-white h3">{{ business.business_name }}</p>
          <p class="card-subtitle mb-2 text-center text-white h4">
            {{ business.about_business }}
          </p>
       
          <div class="buttons-wrapper">
  <a [routerLink]="['/update_business', business.id]" class="btn btn-outline-primary mr-3"
            >update</a
          >
          <button
            class="btn btn-danger"
            (click)="deleteSelectedBusiness(business.id)"
          >
            Delete
          </button>
          </div>
        
        </div>
      </div>
    </div>
  </div>
</div>
