.intro {
  position: relative;
}

.intro p {
  font-size: 40px;
  font-weight: 500;
}
.intro-image img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.hood-details {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom:20px;
}

.about-hood {
  width: 60%;
  border-right: 3px solid black;
  text-align: center;
  padding: 20px
}
.hood-info {
  padding: 20px
}

.details-wrapper {
  display: flex;
}

.business-wrapper {
  flex: 3.5;
}
.posts-wrapper {
  flex: 2;
}


