<div class="container-fluid m-0 p-0">
  <div class="intro">
    <p class="text-center h2 m-4">{{ hood.hood_name }}</p>
    <div class="intro-image">
      <img src="http://res.cloudinary.com/hood/{{ hood.hood_image }}" alt="" />
    </div>
  </div>

  <div class="hood-details mt-3">
    <div class="about-hood">
      <p class="h3">About:</p>
      <p class="h4">{{ hood.about_hood }}</p>
    </div>
    <div class="hood-info">
      <p class="h4">Occupants count:{{ hood.occupants_count }}</p>
      <p class="h4">health_tell:{{ hood.health_tell }}</p>
      <p class="h4">police_number:{{ hood.police_number }}</p>
    </div>
  </div>
  <div class="details-wrapper">
    <div class="business-wrapper">
      <app-business [hood]="hood"></app-business>
    </div>
    <div class="posts-wrapper">
      <app-posts [hood]="hood"></app-posts>
    </div>
  </div>
</div>
