<div class="container-fluid m-4">
  <div class="row" >
    <div class="col-md-4 " *ngFor="let hood of hoods">
      <div class="card" style="width: 18rem">
        <img
          src="http://res.cloudinary.com/hood/{{ hood.hood_image }}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{ hood.hood_name }}</h5>
          <p class="card-text">
            {{ hood.about_hood }}
          </p>
          <a href="#" [routerLink] = "['/hood',hood.id]" class="btn btn-primary">
            view
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
